<% provide(:title, "Horse Racing Rules") %>
<html>
	<div class="jumbotron jumbotron-horseracingrules">
		<h1>GUIDE FOR ULTIMATE EXCITEMENT AND FUN</h1>
	</div>
	<div class="container rules">
		<h1>Rules</h1>
		<p>
			This is a pretty standard drinking game. You bet on a horse. If your horse wins, you give drinks. If your horse loses, you drink.
		</p>
		<ul>
			<li>1st Place gives 3 drinks</li>
			<li>2nd Place gives 2 drinks</li>
			<li>3rd Place gives 1 drink</li>
			<li>4th Place drinks 1</li>
		</ul>
		<p>
			BONUS: If the order of the horses is Horse 1, Horse 2, Horse 3, Horse 4, everyone drinks 1
		</p>
	</div>
</html>